<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Lista de Tarefas</title>
</head>
<body>
    <div class="container">
        <h1>Lista de Tarefas</h1>
        <table>
          <thead>
            <tr>
              <th>Ordem</th>
              <th>Nome da Tarefa</th>
              <th>Custo (R$)</th>
              <th>Data Limite</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody id="taskList">
          <tr th:each="tarefa : ${tarefas}">
                <td th:text="${tarefas.idtarefa}"></td>
                <td th:text="${tarefas.tarefa}"></td>
                <td th:text="${tarefas.custo}"></td>
                <td th:text="${#datess.format(tarefa.datalimite, 'dd/MM/yyyy')}"></td>
          </tbody>
        </table>
          <div class="col-12">
				<a 
					href="incluirtarefa.html"					 
					th:href="@{/incluirtarefa}"
					class="btn btn-primary"
					>Incluir</a>
			</div>
    
        <div class="pagination" id="pagination"></div>
      <script src="../static/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>